<h2>User info</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj form being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model:@user, local:true do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>image</p>
  <%= f.attachment_field :profile_image %>
  <p>Introduction</p>
  <%= f.text_area :introduction %>
  <div><%= f.submit "Update User" %></div>
<% end %>