 <h2>User info</h2>
  <table>
     <tbody>
      <tr><%= attachment_image_tag @user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size: "100x100" %></tr>
      <tr>
        <td>name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= @user.introduction %></td>
      </tr>
     </tbody>
    </table>
    
  <p><%= link_to "プロフ編集", edit_user_path(@user) %></p>
 
  <h2>New book</h2>
  <%= form_with model: @book, local:true do |f| %>
  <div>
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :Opinion%>
    <%= f.text_area :body %>
  </div>
  <div>
  <%= f.submit 'Create Book' %>
  </div>
  <% end %>
  
  <h2>Books</h2>
  <table>
      <thead>
      <tr>
        <th>Title</th><th>Opinion</th>
      </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
      <tr>
        <td>
          <%= attachment_image_tag book.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size: "50x50" %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
           <%= book.title %>
        </td>
          <% end %>
        <td><%= book.body %></td>
      </tr>
      </tbody>
      <% end %>
  </table>
  