　<%= notice %>


  <div class="container">
  <div class="row">
    <div class="col-md-3">
<!--部分テンプレート-->
<%= render 'books/info', user: @user %>
<!--部分テンプレート-->

<!--部分テンプレート-->
<%= render 'books/newbook', book: @book %>
<!--部分テンプレート-->
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
    <table class='table'>
      <tbody>
      <tr>
        <td>
          <%= attachment_image_tag @bookshow.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size: "50x50" %>
        </td>
        <td>
          <%= link_to user_path(@user.id) do %>
          <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@bookshow.id) do %>
          <%= @bookshow.title %>
          <% end %>
        </td>
        <td><%= @bookshow.body %></td>
        <% if @bookshow.user == current_user %>
        <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@bookshow),method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>