　<%= notice %>
　<!--部分テンプレート-->
<%= render 'books/info', user: @user %>
<!--部分テンプレート-->
　
　<h2>New book</h2>
  <%= form_with model: @booknew, local:true do |f| %>
  <div>
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :Opinion%>
    <%= f.text_area :body %>
  </div>
  <div>
  <%= f.submit 'Create Book' %>
  </div>
  <% end %>
  
    <div>
      <h2>Book detail</h2>
    <table>
      <tbody>
      <tr>
        <td>
          <%= attachment_image_tag @book.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size: "50x50" %>
        </td>
        <td>
          <%= link_to user_path(@user.id) do %>
          <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
          <% end %>
        </td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm" => "本当に消しますか?" %> %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
    </div>